
	<div class="row articless">
		<div class="col-9">
			<h2 class="takeNote" data-id="{{_id}}">{{title}}</h2>
			<a href="{{link}}" target="_blank">link</a>

		</div>
		<div class="col-3">
			<p>{{summary}}</p>
		</div>
	</div>
